.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1em;
  margin: 0 auto;
}

form {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1em;
  border-radius: var(--global-border-radius);
  background: #e8f4ff;
  box-shadow: var(--global-shadow);
}

form > legend {
  padding: 1em;
  font-size: 2rem;
}

form > label {
  align-self: flex-start;
}

form > input {
  margin: 1em 0;
  padding: 0.5em;
  width: 100%;

  border: 1px solid grey;
  border-radius: var(--global-border-radius);

  font-size: 1rem;
}

form > select {
  margin: 1em 0;
  padding: 0.5em;
  width: 100%;

  border: 1px solid grey;
  border-radius: var(--global-border-radius);

  font-size: 1rem;
}

form > small {
  font-size: 0.95rem;
  padding: 0.25em;
  background: rgb(255, 251, 210);
  border: 1px solid red;
}

.form-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  form {
    min-width: 50%;
    max-width: 800px;
  }
}
