.table-container {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 65vh;
  box-shadow: var(--global-shadow);
  z-index: 1;
}

.add-button {
  padding: 0.5em;
}

.add-button > .btn {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    purple,
    magenta,
    lightskyblue
  );
  background-size: 500%;
  background-position: left;
  padding: 0.5em;

  font-weight: bold;

  transition-property: background-position, color;
  transition-duration: 300ms;
  transition-timing-function: ease;
  color: white;
}

.add-button > .btn:hover {
  background-position: right;
  color: black;
  filter: none;
}

table.item-list-table {
  text-align: center;
  width: 100%;

  border-collapse: collapse;

  border: 1px solid var(--table-zebra-dark);
  table-layout: auto;
}

.item-list-table .completed {
  position: relative;
  text-decoration: line-through;
  color: #636363;
}

.item-list-table .status {
  font-size: 2rem;
}

th,
tr:nth-child(even) {
  background-color: var(--table-zebra-light);
}

th {
  padding: 0.5rem;
  border-bottom: 1px solid var(--table-zebra-dark);
}

td {
  padding: 0.5rem 0;
}

td > .btn {
  margin: 4px;
}

.table-nav-container {
  padding: 1em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item-limit-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.table-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item-limit-container > label {
  padding: 1em;
}

.item-limit-container > select {
  width: 75px;
}

@media screen and (min-width: 768px) {
  .add-button > .btn {
    font-size: 1.25rem;
  }
}
