.table-container {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 75vh;
  z-index: 1;
}

.add-button {
  padding: 1em;
  text-align: right;
}

.add-button > .btn {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    purple,
    magenta,
    lightskyblue
  );
  background-size: 500%;
  background-position: left;
  padding: 0.75em;
  font-size: 1.25rem;
  font-weight: bold;

  transition-property: background-position, color;
  transition-duration: 300ms;
  transition-timing-function: ease;
  color: white;
}

.add-button > .btn:hover {
  background-position: right;
  color: black;
  filter: none;
}

table.item-list-table {
  text-align: center;
  width: 100%;

  border-collapse: collapse;

  border: 1px solid var(--table-zebra-dark);
  table-layout: auto;
}

th,
tr:nth-child(even) {
  background-color: var(--table-zebra-light);
}

th {
  padding: 0.5rem;
}

td {
  padding: 0.5rem 0;
}

td > .btn {
  margin: 4px;
}

.table-nav-container {
  padding: 1em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
