.delete-form {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1em;
  border-radius: var(--global-border-radius);
  background: #ffe8e8;
  box-shadow: var(--global-shadow);

  word-wrap: break-word;
}

.delete-form > h1,
.delete-form > h2,
.delete-form > h3,
.delete-form > h4 {
  padding: 0.25em 0;
  font-size: 1rem;
  width: 100%;
}

.delete-form > .info-group {
  width: 100%;
  padding: 0.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .delete-form {
    min-width: 50%;
    max-width: 800px;
  }

  .delete-form > h1,
  .delete-form > h2,
  .delete-form > h3,
  .delete-form > h4 {
    font-size: inherit;
  }
}
